
<div class="panel panel-primary">
  <div class="panel-heading">
    <h2>Profil</h2>
  </div>
  <div class="panel panel-default">
    <div>
      <h4> Pseudo : {{pseudo}} </h4>
      <h4> mail : {{mail}} </h4>
    </div>
    <div>
      <h5> Page favorite : </h5>
      <table>
        <tr *ngFor="let fav of favoris">
          <td><a routerLink="/fiche/{{fav.fich_conserne!.id!}}" routerLinkActive="active">{{fav.fich_conserne!.titre!}}</a></td>
          <td><button (click)="deleteFavoris(fav.id!)">Supprimer</button></td>
      </table>
    </div>
    <br/>
    <div>
      <form  (ngSubmit)="OnSubmit()">
      <input type="submit" value="Modifier les informations"/>
      </form>
    </div>
    <div *ngIf="testAffichageFormModif()">
      <form [formGroup]="formModificationUtilisateur" (ngSubmit)="OnSubmitModif()">
        <div>
          <div>
            <input type="text" aria-describedby="Nouveau pseudo : " placeholder="Pseudo" formControlName="pseudo">
            <div class="pb" *ngIf="testPseudo()">
              Pseudo nécéssaire
            </div>
          </div>
          <div>
            <input type="text" aria-describedby="Nouveau mail : " placeholder="Mail" formControlName="mail">
            <div class="pb" *ngIf="testMail()">
              Mail nécéssaire
            </div>
          </div>
          <div>
            <input type="password" aria-describedby="Nouveau mdp : " placeholder="Mot de passe" formControlName="mdp">
            <div class="pb" *ngIf="testMdp()">
              Mot de passe nécéssaire
            </div>
          </div>
          <div>
            <input type="password" class="form-control d-inline p-2" aria-describedby="Confirmer le mot de passe" placeholder="Confirmer mot de passe" id="confirmation" formControlName="confirmation">
            <div class="text-danger" *ngIf="testConfirmation()">
              Le mot de passe ne correspond pas
            </div>
          </div>
        <br>
          <div class="alert alert-warning" *ngIf='invalidModification'>{{errorMessage}}</div>
        <input type="submit" value="Appliquer les modification"/>
        </div>
      </form>

    </div>
  </div>
</div>
