<div>
  <div class="header">

    <h2>{{titre}}</h2>

    <div>
      <a routerLink="/accueil" routerLinkActive="active">Retour</a>
    </div>

    <div *ngIf="isConnecte()">
      <p><a routerLink="/creer/fiche/{{wikiId}}" routerLinkActive="active">Ajouter une fiche</a></p>
    </div>

    <br/>
    <br/>
    <p>Créer par : {{createur}}</p>
    <br/>
    <p>Catégorie : {{categorie}}</p>
    <br/>

  </div>

  <br/>

  <div class="body">

    <ul>
      <li *ngFor="let fiche of listeFiche"><a routerLink="/fiche/{{fiche.id}}" routerLinkActive="active">{{fiche.titre}}</a></li>
    </ul>

  </div>

</div>
