<div class="headerCreationWiki" xmlns="http://www.w3.org/1999/html">
  <h2>Creation de Wiki</h2>
</div>
<div class="panel panel-default">
  <form [formGroup]="formCreationWiki" (ngSubmit)="OnSubmit()">
    <div>
      <div>
        <input type="text" aria-describedby="Titre : " placeholder="Titre" formControlName="titre">
        <div class="pb" *ngIf="testTitre()">
          Titre Nécéssaire
        </div>
      </div>
      <div>
        <input type="text" aria-describedby="Categorie : " placeholder="Categorie" formControlName="categorie">
        <div class="pb" *ngIf="testCategorie()">
          Categorie Nécéssaire
        </div>
      </div>
    <br>
    <input type="submit" value="Creer le wiki"/>
    </div>
  </form>

  <div>
    <a routerLink="/accueil" routerLinkActive="active">Retour</a>
  </div>

</div>
