<div class="headerUpdateFiche">
  <h2>Modification de fiche</h2>
</div>

<div>
  <a routerLink="/fiche/{{ficheId}}" routerLinkActive="active">Retour</a>
</div>

<div class="panel panel-default">
    <form *ngIf="fiche" [formGroup]="formUpdateFiche" (ngSubmit)="OnSubmit()">
    <div>
      <div>
        <input type="text" aria-describedby="Titre : " placeholder="Titre" formControlName="titre">*
        <div class="pb" *ngIf="testTitre()">
          Titre Nécéssaire
        </div>
      </div>
      <div>
        <input type="text" style="width: 95%; height:100px" aria-describedby="Contenu : " placeholder="Contenu" formControlName="contenu">*
        <div class="pb" *ngIf="testContenu()">
          Contenu Nécéssaire
        </div>
      </div>
      <input type="text" aria-describedby="URL source (non obligatoire) : " placeholder="URL source" formControlName="url">
    </div>
    <br>
    <div class="alert alert-warning" *ngIf='invalidModif'>{{errorMessage}}</div>
    <input type="submit" value="Modifier la fiche"/>
  </form>
</div>
